#rightMenuControls {
	margin: 0.25em;
}

#custom-settings {
	padding-left: 10px;
	padding-right: 10px;
}

.demo-panel-title {
	padding-top: 6px;
}

.error-message {
	background: #e74c3c;
	color: #EFEFEF;
	padding: 0.5em;
	font-weight: bold;
}
