#rightMenuControls {
	margin: 0.25em;
}

#rightMenuTabs {
	height: 550px;
}

#custom-settings {
	padding-left: 10px;
	padding-right: 10px;
}

#vis-help {
	padding-left: 10px;
	padding-right: 10px;
}

#sample-list-input {
	resize: none;
	overflow-y: scroll;
	height: 60px;
	width: 240px;
}

.demo-panel-title {
	padding-top: 6px;
}

.error-message {
	background: #e74c3c;
	color: #EFEFEF;
	padding: 0.5em;
	font-weight: bold;
}

.data-file-form {
	margin: 0;
}
.btn-file {
	position: relative;
	overflow: hidden;
	font-size: 100%;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	/*filter: alpha(opacity=0);*/
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.edge-legend {
	width: 99%;
}
.edge-legend table {
	margin-left: auto;
	margin-right: auto;
}
.legend-rect {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
	color: #101010;
}
.legend-edge-sign-pos {
	background-color: #FF0000;
}
.legend-edge-sign-neg {
	background-color: #0000FF;
}
.legend-in-pc-true {
	background-color: #11FA34;
}
.legend-in-pc-false {
	background-color: #7F7F7F;
}
#control-panels {
	float: right
}
#fancybox-inline-data table {
	margin-left: auto;
	margin-right: auto;
	background-color: #EEEEEE;
}
#fancybox-inline-data td {
	padding-left: 5px;
	padding-right: 5px;
}
.header-row {
	font-weight: bolder;
}
